@import "variable";
@import "maps";
@import "extend";
@import "mixin";
@import "header";
@import "footer";
@import "producto";
@import "contacto";
* {
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
.fuente {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: #535151; }
.tamañoImagen {
        width: 90rem;
        height: 30rem;
       } 
header {
    grid-area: inicio;
    position: sticky;
    top: 0px;
    z-index: 1000; }
  
.contenedorImagen {
    grid-area: imagenCentral; }
  
#servicios {
    grid-area: servicios; }
  
#galeria {
    grid-area: galeria; }
  
#footer {
    grid-area: footer; }

  
@media screen and (max-width: 900px) {
    .botonera ul li a {
      display: none; }
    .imagenContenedor {
      flex-wrap: wrap;
      margin: auto; }
    footer ul li a {
      display: none; }
    .botonWhatsApp img {
      width: 40px; }
     }

.contenedorH, .contenedorP {
        margin-top: 15 px;
        margin-bottom: 15px;
        background-color: rgba(255,255,255,0.8);
      }
      
.contenedorP {
        font-size: 20px; }
 body {
    background-color: #7ec3c5;
    background-image: url(../img/descartables.jpg);
    }
.contenedor {
        text-align: center;
        margin: 50px;
        padding: 30px;
        border: double 6px #99A799;
        border-radius: 4px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        max-width: 90%; 
        background-color: rgba(255,255,255,0.8);
      }
      
.imagenEncabezado {
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 90%; }
      
.imagenGaleria {
        height: 100px;
        max-width: 90%;
        padding: 10px;
        margin-left: 10px; }
      
.imagenGaleria:hover {
        filter: grayscale(100%); }
      
.imagenContenedor {
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 90%;
        background-color: rgba(255,255,255,0.8);
      }
      
      
.empresaNuestra {
        text-align: center;
        margin: 50px;
        padding: 30px;
        border: double 6px #36136b;
        border-radius: 4px;
        background-color:rgba(255,255,255,0.8);
      }
      
      
      
.container {
        width: 100%;
        display: flex;
        max-width: 1100px;
        background-color: rgba(255,255,255,0.8);
      }
                 